

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.editor {
  position: relative;
}

.editor code {
  font-size: 14px;
  font-variant-ligatures : common-ligatures;
}

.editor {
  margin-bottom: 86px;
  width: 70%;
}

.editor .copy-button {
  margin: 0 10px; 
}

.copy-button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.copy-button:hover {
  background-color: #007B9A;
}

.code-section {
  position: relative; 
  width:100%;
}
.code-section pre code {
  font-size: 16px; /* Ajusta este valor según necesites */
}
.align-items-start {
  align-items: stretch !important;
}

/* Asegúrate de que el contenedor del código se expanda para llenar la altura disponible */
.code-section {
  display: flex;
  flex-direction: column;
}

.code-section pre {
  flex-grow: 1;
}

